spring:
  application:
    name: campaign

  datasource:
    url: jdbc:postgresql://localhost:15432/campaign_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true

server:
  port: 8080

app:
  jwt:
    secret: "change-me-to-a-long-random-secret-change-me"
    access-token-minutes: 60
